:root {
    --color-primary: #a18866;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #d7d6d4;
    --bs-font-sans-serif: "Roboto Slab";
}

.bg-primary {
    background: var(--color-primary) !important;
}

.bg-white {
    background: var(--color-white) !important;
}

.bg-gray {
    background: var(--color-gray) !important;
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-white {
    color: var(--color-white) !important;
}

.color-black {
    color: var(--color-black) !important;
}

.font-roboto {
    font-family: "Roboto";
}

.up-4 {
    margin-top: -24px !important;
}

.bl {
    border-left: 1px solid #000;
}

.btn, .card, .card-img, .card-img-top, .form-control {
    border-radius: 0;
}

.form-control {
    border-color: var(--color-primary);
}

.card {
    min-height: 377px;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ask-seller-chat {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.read-more-container {
    background: rgb(255,254,242);
    background: linear-gradient(0deg, rgba(255,254,242,1) 0%, rgba(255,254,242,1) 50%, rgba(255,254,242,0) 100%);
    height: 100px;
    position: absolute;
    bottom: 0;
    z-index: 99;
    transition: all 0.5s ease;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .fs-md-4 {
       font-size: calc(1.275rem + .3vw)!important;
    }
}

/**/
.talk-bubble {
    display: inline-block;
    position: relative;
	height: auto;
	background-color: #FFFFFF;
}
.border{
  border: 1px solid var(--color-primary)!important;
}
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -1px;
	bottom: -20px;
	border: 10px solid;
	border-color: var(--color-primary) var(--color-primary) transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 0;
	bottom: -18px;
	border: 9px solid;
	border-color: var(--color-white) var(--color-white) transparent transparent;
}
.talk-bubble.tri-left {
    background: transparent;
}
.tri-left.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: auto;
	left: -1px;
	bottom: -20px;
	border: 10px solid;
	border-color: var(--color-primary) transparent transparent var(--color-primary);
}
.tri-left.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: auto;
	left: 0;
	bottom: -18px;
	border: 9px solid;
	border-color: var(--color-white) transparent transparent var(--color-white);
}

