:root {
    --color-primary: #a18866;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #d7d6d4;
    --bs-font-sans-serif: "Roboto Slab";
}

.bg-primary {
    background: var(--color-primary) !important;
}

.bg-white {
    background: var(--color-white) !important;
}

.bg-gray {
    background: var(--color-gray) !important;
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-white {
    color: var(--color-white) !important;
}

.color-black {
    color: var(--color-black) !important;
}

.font-roboto {
    font-family: "Roboto";
}

.bl {
    border-left: 1px solid #000;
}

.btn, .card, .card-img, .card-img-top {
    border-radius: 0;
}

.card {
    min-height: 377px;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .fs-md-4 {
       font-size: calc(1.275rem + .3vw)!important;
    }
}

/**/
.talk-bubble {
    display: inline-block;
    position: relative;
	height: auto;
	background-color: #FFFFFF;
}
.border{
  border: 8px solid #666;
}
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -1px;
	bottom: -20px;
	border: 10px solid;
	border-color: var(--bs-border-color) var(--bs-border-color) transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 0;
	bottom: -18px;
	border: 9px solid;
	border-color: var(--color-white) var(--color-white) transparent transparent;
}

